<a href="https://colab.research.google.com/github/hsu607/BAEKJOON/blob/main/STEP03_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 3단계 반복문(12문제)

2739) 구구단

In [2]:
N = int(input())
for i in range(1,10):
    print(N, '*', i, '=', N*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

10950) A+B - 3

In [3]:
N = int(input())
for i in range(N):
    A, B = map(int, input().split())
    print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

8393) 합

In [6]:
n = int(input())
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

3
6

25304) 영수증

In [7]:
X = int(input())
N = int(input())
sum = 0
for i in range(N):
    a, b = map(int, input().split())
    sum += a*b
if sum == X:
    print('Yes')
else:
    print('No')

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

15552) 빠른 A+B

In [ ]:
import sys
t = int(input())
for i in range(t):
    a, b = map(int, sys.stdin.readline().rstrip().split())
    print(a+b)

# sys.stdin.readline() 코랩에서 실행 안됨

11021) A+B - 7

In [14]:
T = int(input())
for i in range(1,T+1):
    A, B = map(int, input().split())
    print(f'Case #{i}: {A+B}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

11022) A+B - 8

In [17]:
T = int(input())
for i in range(1,T+1):
    A, B = map(int, input().split())
    print(f'Case #{i}: {A} + {B} = {A+B}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

2438) 별 찍기 - 1

In [18]:
N = int(input())
for i in range(1,N+1):
    print('*'*i)

5
*
**
***
****
*****

2439) 별 찍기 - 2

In [20]:
N = int(input())
for i in range(1,N+1):
    print(' '*(N-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

10952) A+B - 5

In [21]:
while True:
    a, b = map(int, input().split())
    if (a == 0) & (b == 0):
        break
    else:
        print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

10951) A+B - 4

In [22]:
while True:
    try:
        A, B = map(int, input().split())
        print(A+B)
    except:
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

1110) 더하기 사이클

In [25]:
N = int(input())
init = N
cycle = 0
while True:
    cycle += 1
    N = N%10*10 + (N//10 + N%10)%10
    if N == init:
        break
print(cycle)

55
3