<a href="https://colab.research.google.com/github/hsu607/BAEKJOON/blob/main/STEP05_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 5단계 함수(3문제)

### 15596. 정수 N개의 합

In [ ]:
def solve(a):
    return sum(a)

### 4673. 셀프 넘버

In [ ]:
def d(n):
    n += sum(map(int, str(n)))
    return n
nonSelfnum = set()
for i in range(1,10001):
    nonSelfnum.add(d(i))

for i in range(1,10001):
    if i not in nonSelfnum:
        print(i)

### 1065. 한수

In [3]:
n = int(input())
hansu = 0
for i in range(1, n+1):
    if i < 100:
        hansu += 1
    else:
        if int(str(i)[0]) - int(str(i)[1]) == int(str(i)[1]) - int(str(i)[2]):
            hansu += 1
print(hansu)

110
99