<a href="https://colab.research.google.com/github/hsu607/BAEKJOON/blob/main/STEP06_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 6단계 문자열(10문제)

### 11654. 아스키 코드

In [ ]:
a = input()
print(ord(a))
# ord() -> 문자를 아스키 코드로 변환
# chr() -> 아스키 코드를 문자로 변환

A
65

### 11720. 숫자의 합

In [ ]:
# for문 이용
n = int(input())
num =list(map(int, input()))
total = 0
for i in range(len(num)):
    total += num[i]
print(total)

5
54321
15

In [ ]:
# sum() 함수 이용
n = int(input())
num = map(int, input())
print(sum(num))

5
54321
15

### 10809. 알파벳 찾기

In [ ]:
s = input()

### 2675. 문자열 반복

In [ ]:
t = int(input())
for i in range(t):
    r, s = input().split()
    r = int(r)
    rep = ''
    for i in s:
        rep += i*r
    print(rep)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

### 1157. 단어 공부

's'

### 1152. 단어의 개수

### 2908. 상수

### 5622. 다이얼

### 2941. 크로아티아 알파벳

### 1316. 그룹 단어 체커