<a href="https://colab.research.google.com/github/hsu607/BAEKJOON/blob/main/STEP01_%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC_%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1단계 입출력과 사칙연산(14문제)

2557) Hello World

In [ ]:
print("Hello World!")

1000) A+B

In [ ]:
a,b = map(int, input().split())
print(a+b)

1 2
3

1001) A-B

In [ ]:
a, b = map(int, input().split())
print(a-b)

3 2
1

10998) AXB

In [ ]:
a, b = map(int, input().split())
print(a*b)

1 2
2

1008) A/B

In [ ]:
a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

10869) 사칙연산

In [ ]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

10926) ??!

In [ ]:
print(input() + "??!")

joonas
joonas??!

18108) 1998년생인 내가 태국에서는 2541년생?!

In [ ]:
print(int(input()) - 543)

2541
1998

3003) 킹, 퀸, 룩, 비숍, 나이트, 폰

In [ ]:
a,b,c,d,e,f = map(int,input().split())
print(1-a, 1-b, 2-c, 2-d, 2-e, 8-f)

0 1 2 2 2 7
1 0 0 0 0 1

10430) 나머지

In [ ]:
A, B, C = map(int, input().split())
print((A+B)%C, ((A%C) + (B%C))%C, (A*B)%C, ((A%C) * (B%C))%C, sep = '\n')

5 8 4
1
1
0
0

2588) 곱셈

In [ ]:
A = int(input())
B = input()
print(A*int(B[2]), A*int(B[1]), A*int(B[0]), A*int(B), sep = '\n')

482
375
2410
3374
1446
180750

10171) 고양이

In [ ]:
print("\\    /\\", " )  ( ')", "(  /  )", " \\(__)|", sep = "\n")

\    /\
 )  ( ')
(  /  )
 \(__)|

10172) 개

In [ ]:
print('|\\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

25083) 새싹

In [ ]:
print('''         ,r'"7''')
print('''r`-_   ,'  ,/''')
print(""" \. ". L_r'""")
print('   `~\/')
print('      |')
print('      |')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |