<a href="https://colab.research.google.com/github/hsu607/BAEKJOON/blob/main/STEP04_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 4단계 1차원 배열(9문제)

### 10807. 개수 세기

In [4]:
n = int(input())
data = list(map(int, input().split()))
v = int(input())
print(data.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
5
0

### 10871. X보다 작은 수

In [1]:
n, x = map(int, input().split())
a = list(map(int, input().split()))
for i in range(n):
    if a[i] < x:
        print(a[i])

10 5
1 10 4 9 2 3 8 5 7 6
1
4
2
3

### 10818. 최소, 최대

In [2]:
n = int(input())
a = list(map(int, input().split()))
print(min(a), max(a))

5
20 10 35 30 7
7 35

### 2562. 최댓값

In [8]:
num = []
for i in range(9):
    num.append(int(input()))
print(max(num))
print(num.index(max(num))+1)

3
29
38
12
57
74
40
85
61
85
8

### 5597. 과제 안 내신 분..?

In [16]:
num = [i for i in range(1,31)]
for i in range(28):
    num.remove(int(input()))
print(num[0])
print(num[1])

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

### 3052. 나머지

In [22]:
num = []
for i in range(10):
    num.append(int(input())%42)
print(len(set(num)))

1
2
3
4
5
6
7
8
9
10
10

### 1546. 평균

In [2]:
n = int(input())
a = list(map(int, input().split()))
total = 0
for i in range(n):
    total += a[i]/max(a)*100
print(total/n)

3
40 80 60
75.0

### 8958. OX퀴즈

In [26]:
n = int(input())
for i in range(n):
    ox = input()
    score = 0
    total = 0
    for i in range(len(ox)):
        if ox[i] == 'O':
            score += 1
        else:
            score = 0
        total += score
    print(total)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

### 4344. 평균은 넘겠지

In [10]:
c = int(input())
for i in range(c):
    score = list(map(int, input().split()))
    n = score.pop(0)
    total = 0
    for i in range(n):
        if score[i] > sum(score)/n:
            total += 1
    print(f'{100*total/n:.3f}%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%