<a href="https://colab.research.google.com/github/hsu607/BAEKJOON/blob/main/STEP06_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 6단계 문자열(10문제)

### 11654. 아스키 코드

In [ ]:
a = input()
print(ord(a))
# ord() -> 문자를 아스키 코드로 변환
# chr() -> 아스키 코드를 문자로 변환

A
65

### 11720. 숫자의 합

In [ ]:
# for문 이용
n = int(input())
num =list(map(int, input()))
total = 0
for i in range(len(num)):
    total += num[i]
print(total)

5
54321
15

In [ ]:
# sum() 함수 이용
n = int(input())
num = map(int, input())
print(sum(num))

5
54321
15

### 10809. 알파벳 찾기

In [19]:
s = input()
for i in range(ord('a'), ord('z')+1):   # 알파벳리스트를 아스키코드를 이용하여 생성
    print(s.find(chr(i)), end = " ")    # 아스키코드로 저장된 i를 chr()을 이용하여 다시 문자열로 바꿔줘야 함
    # find 함수는 문자열을 입력받아, 찾는 문자가 첫번째로 등장하는 인덱스를 출력, 없으면 -1 출력

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 2675. 문자열 반복

In [ ]:
t = int(input())
for i in range(t):
    r, s = input().split()
    r = int(r)
    rep = ''
    for i in s:
        rep += i*r
    print(rep)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

### 1157. 단어 공부

In [6]:
s = input().upper()
s_list = list(set(s))
cnt = []
for i in s_list:
    cnt.append(s.count(i))

if cnt.count(max(cnt)) > 1:
    print('?')
else:
    print(s_list[cnt.index(max(cnt))])

zZa
Z

### 1152. 단어의 개수

In [21]:
s = list(input().split())
print(len(s))

The Curious Case of Benjamin Button
6

### 2908. 상수

In [2]:
a, b = input().split()
print(max(a[::-1], b[::-1]))   # string[start:stop:step] 
                               # [::-1] -> 문자열 역순으로

734 893
437

### 5622. 다이얼

In [3]:
s = input()
time = 0
for i in s:
    if i in ['A', 'B', 'C']:
        time += 3
    elif i in ['D', 'E', 'F']:
        time += 4
    elif i in ['G', 'H', 'I']:
        time += 5
    elif i in ['J', 'K', 'L']:
        time += 6
    elif i in ['M', 'N', 'O']:
        time += 7
    elif i in ['P', 'Q', 'R', 'S']:
        time += 8
    elif i in ['T', 'U', 'V']:
        time += 9
    elif i in ['W', 'X', 'Y', 'Z']:
        time += 10
print(time)

WA
13

In [2]:
# 다른 방법
s = input()
dial = ['ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
time = 0
for i in s:
    for j in dial:
        if i in j:
            time += dial.index(j) + 3
print(time)

UNUCIC
36

### 2941. 크로아티아 알파벳

### 1316. 그룹 단어 체커